
.button {
    background-color: #2296F3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 4px 2px;
    cursor: pointer;
    moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
